*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* @include respond(tab-land-1280) {
    max-width: 95%;
  }
  @include respond(tab-land) {
    max-width: 70.8rem;
  }
  @include respond(phone) {
    max-width: 88%;
  }
  @include respond(miniphone) {
    max-width: 86%;
  } */
}

body {
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  max-width: 1000px;
  margin-top: 10%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slides {
  background-size: cover;
}
